{% extends 'adminIndex.html' %} 
{% block content %}
<div class="phones-list" style="">
    <div class="item">
        <div class="item-nav" style="">
            <button class="remove" onclick="delItem(this)" id="remove">×</button>
            <div class="dropdown">
                <svg viewBox="0 0 24 24" class="svg-more dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <g>
                        <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                    </g>
                </svg>
                <ul class="dropdown-menu">
                    <li class="del-host" onclick="addItem(this)">
                        <a href="javascript:void(0);">增加</a>
                    </li>
                    <li class="alter-host" onclick="alterItem(this)">
                        <a href="javascript:void(0);">修改</a>
                    </li>
                    <li class="del-host" onclick="delItem(this)">
                        <a href="javascript:void(0);">删除</a>
                    </li>
                </ul>
            </div>
            <span style="font-size: 20px;"> iphone 8x</span>
        </div>
        <div class="item-host">
            <img src="/static/image/home-bg.jpeg" width="100%" height="200px;">
            <ul class="item-li">
                <li>手机类型:
                    <span class="phoneName" style="">iphone 8x</span>
                </li>
                <li>手机描述:
                    <span class="phoneDesp" style="">Hello, iphone 8x,It's beautiful!</span>
                </li>
            </ul>
        </div>
        <div class="alter-info" style="display: none;">
            <button onclick="alterReset(this)" class="btn btn-info" name="reset">重置</button>
            <button onclick="alterSubmit(this)" class="btn btn-primary" name="submit">提交</button>
            <button onclick="alterAbort(this)" class="btn btn-warning">撤销</button>
        </div>
    </div>
</div>
    <div class="bottom-add">
        <button onclick="addItem(this)" class="new-host btn-fade" style="margin: auto 50px;">+</button>
    </div>
<style>
    .phones-manage {
        border-right: 6px solid #39b58b;
    }
</style>
<script>
function addItem(elem) {
        var html = "";
        html += '<div class="item"><div class="item-nav" style="height: 36px">';
        html += '<button class="remove" onclick="removeItem(this)">×</button></div>';
        html += '<div class="item-content"><ul class="item-li">';
        html += '<li class="li-add">手机型号:<span contenteditable="true" class="phoneName span-edit"></span></li>';
        html += '<li class="li-add">手机图片:<a href="javascript:;" class="uploadfile btn btn-default" style="" id="chooseFile">选择图文件<input type="file" name="choosefile"></a></li>';
        html += '<li class="li-add">手机描述信息:<span contenteditable="true" class="phoneDesp span-edit"></span></li>';
        html += '</ul><div class="alter-info">';
        html += '<button onclick="addItemSubmit(this)" class="btn btn-primary" name="submit">提交</button>';
        html += '<button onclick="removeItem(this)" class="btn btn-warning">撤销</button>';
        html += '</div></div></div>';
        $(".bottom-add").before(html);
        $(".li-add").css("border-bottom", "none");
        $(".phoneName[contenteditable='true']").focus();
    }

function alterItem(elem) {
    var item = $(elem).parents(".item").children().eq(1).children(".item-li").find("li");
    var itemBtn = $(elem).parents(".item").children(".alter-info");
    item.children("span").addClass("span-edit");
    item.children("span").attr("contenteditable", "true");
    itemBtn.css("display", "flex");
}

function removeItem(elem) {
    $(elem).parents(".item").remove();
}

function alterReset(elem) {
    var items = $(elem).parent().parent().find(".item-li span");
    items.text("");
}
function alterAbort(elem) {
    location.reload()
}

function delItem(elem) {
    //comfirm to delete host?
    var reply = confirm("您确认要删除吗?")
    if (reply == true) {
        var hostId = $(elem).parents(".item").attr("data-tid");
        //alert(hostId);
        data = { 'hostId': hostId }
        postRequest("/delHost/", data, true, delHostResult);
    } else {
        alert("你取消了删除操作!")
    }
}
function delHostResult(ret) {
    if (ret['ret'] == true) {
        alert("删除主机信息成功!");
        location.reload()
    } else {
        alert("删除主机信息失败!");
    }
}
</script>
{% endblock %}