
{% for commit in commits %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ commit.from }}回复{{ commit.to }} </h3>
    </div>
    <div class="panel-body">
        {{ commit.details }}
    </div>
</div>
{% endfor %}
<div class="reply-input">
<label>回复内容：</label>
<textarea class="form-control" style="margin: 10px 0px;" name="order-details" rows="5" placeholder="请输入工单详细内容"></textarea>
<div class="alter-info" style=" text-align:center;">
    <button onclick="commitReset()" class="btn btn-info" name="reset">重置</button>
    <button onclick="commitSubmit()" class="btn btn-primary" name="submit">提交</button>
</div>
</div>
<script>
        function commitReset() {
            $("textarea[name='order-details']").val('');
        }
        function commitSubmit() {
            var phone_id = $('#phone-id').text();
            var server_id = $('#server-id').text();
            var order_title = $("input[name='order-title']").val();
            var order_details = $("textarea[name='order-details']").val();
            /*alert(phone_id)
            alert(server_id)
            alert(order_title)
            alert(order_details)*/
            data = { 'phone_id': phone_id, 'server_id': server_id, 'order_title': order_title, 'order_details': order_details };
            postRequest("/addorderlist/", data, true, commitResult);
        }
        function commitResult(ret) {
            if (ret == true) {
                $(".Dialog").remove();
                alert("工单申请成功，请耐心等候客服人员回应！");
            } else {
                alert("工单申请失败，请稍后重试！")
            }
        }
</script>